.nav-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 30px;
  font-family: 'Inter', sans-serif;
  width: 100%;
  flex-wrap: wrap;
  border-bottom: 2px solid #E6E6E6;

  @media screen and (max-width: 600px) {
    flex-direction: column;
  }

  @media screen and (min-width: 601px) and (max-width: 900px) {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  .nav-container {
    flex-wrap: wrap;
  }
}

.nav-item {
  cursor: pointer;
  position: relative;
  padding-bottom: 5px;

  font-family: Aileron;
  font-weight: 300;
  font-style: Light;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;
  color: #000;
}

.nav-item.active {
  font-weight: 400;
}

.nav-item.active::after {
  content: "";
  width: 100%;
  height: 2px;
  background: black;
  position: absolute;
  bottom: 0;
  left: 0;
}

.nav-item::after {
  content: "";
  width: 0%;
  height: 2px;
  background: black;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.3s ease;
}

.nav-item.active::after {
  width: 100%;
}