.image-grid {
  display: grid;
  grid-template-areas:
    "left-top center-big right-top"
    "left-bottom center-big right-bottom";
  grid-template-columns: 1fr 1.5fr 1fr;
  grid-template-rows: 250px 250px;
  gap: 15px;
  padding: 40px;
}

.left-top {
  grid-area: left-top;
}

.left-bottom {
  grid-area: left-bottom;
}

.center-big {
  grid-area: center-big;
}

.right-top {
  grid-area: right-top;
}

.right-bottom {
  grid-area: right-bottom;
}

.image-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  display: block;

}

.image-grid img:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
}

@media (max-width: 1024px) {
  .image-grid {
    grid-template-areas:
      "left-top left-bottom"
      "center-big center-big"
      "right-top right-bottom";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 12px;
  }
}

@media (max-width: 600px) {
  .image-grid {
    grid-template-areas:
      "left-top"
      "left-bottom"
      "center-big"
      "right-top"
      "right-bottom";
    grid-template-columns: 1fr;
  }

  .image-grid img {
    height: 220px;
  }
}