@import url('https://reinhart1010.github.io/aileron/aileron.min.css');

.offers-section {
  text-align: center;
  padding: 40px 80px;

  @media screen and (max-width: 600px) {
    padding: 40px 10px;
    padding-bottom: 0;
  }

  @media screen and (min-width:601px) and (max-width: 900px) {
    padding: 40px 20px;
  }
}

.offers-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.offers-description {
  max-width: 800px;
  margin: 0 auto 40px auto;
  font-size: 15px;
  color: #555;
  line-height: 1.6;
}

.offers-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.offer-card {
  position: relative;
  width: 100%;
  height: 180px;
  overflow: hidden;
  border-radius: 6px;
}

.offer-img {
  width: 100%;
  height: 280px;
  object-fit: cover;

  @media screen and (min-width:601px) and (max-width: 900px) {
    height: 180px;
  }
}

.offer-content {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  color: #fff;
}

.offer-content h3 {
  font-size: 22px;
  margin: 0;
  margin-top: 87px;
  font-family: Adibafih;
}

.offer-discount {
  font-size: 18px;
  font-weight: bold;
  opacity: 0.8;
}

@media (min-width: 768px) {
  .offer-card {
    height: 230px;
  }
}


.offer-img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  transform: scale(1);
  transition: transform 4s ease;
}

.offer-card:hover .offer-img {
  transform: scale(1.15);

  .offer-card {
    position: relative;
    width: 100%;
    height: 180px;
    overflow: hidden;
    border-radius: 6px;
  }

  .offer-img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    transition: transform 0.4s ease;
  }

  .offer-content {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #fff;
    transition: all 0.4s ease;
    z-index: 2;
  }


  .offer-card:hover .offer-content {
    top: 50%;
    transform: translateY(-50%);
  }

  .offer-card:hover .offer-img {
    transform: scale(1.1);
  }

}

.offer-card {
  position: relative;
  width: 100%;
  height: 180px;
  overflow: hidden;
  border-radius: 6px;
}

.offer-img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.offer-content {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #fff;
  transition: all 0.4s ease;
  z-index: 2;
}


.offer-card:hover .offer-content {
  top: 50%;
  transform: translateY(-50%);
}

.offer-card:hover .offer-img {
  transform: scale(1.1);
}